& {
	.window-content form.kult-overrides-sheet {
		padding: 5px;

		.sheet-header {

			.header-container {
				display: flex;
				height: 100px;
				width: 100%;
				flex-direction: row;
				justify-content: stretch;
				align-items: center;
				flex-wrap: nowrap;
				overflow: hidden;

				> * {
					display: inline-block;
					height: 100%;
					flex-basis: auto;
				}

				*:focus {
					border: none;
					box-shadow: none;
				}

				.picture {
					flex-shrink: 0;
					flex-grow: 0;
				}
				.title {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					flex-shrink: 1;
					flex-grow: 1;
					flex-basis: 90%;
					margin: 0 10px 0 0;

					.character-name {
						display: block;
						font-size: 50px;
						height: 100%;
						width: 100%;
						border: 0;
						font-family: var(--font-display);
						background: transparent;
						transform: scaleY(1.5);
						padding-top: 16px;
					}

					.character-archetype {
						display: block;
						margin: -20px 0 0 0;
						padding: 0;
						border: 0;
						height: 40px;
						font-size: 22px;
						text-align: right;
						padding-right: 10px;
						position: relative;
						text-shadow: 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg), 0 0 3px var(--bg);

						option {
							font-size: 14px;
							text-align: center;

							&.enlightened {
								color: var(--grey-fg);
							}
							&.aware-header, &.enlightened-header {
								background: var(--bg);
								color: var(--gold-dim);
								font-weight: bold;
								font-size: 24px;
							}
							&.enlightened-header {
								color: var(--grey-fg);
							}
						}
					}
				}
				.specs {
					flex-shrink: 0;
					flex-grow: 0;
					flex-basis: 125px;

					.spec {
						display: block;
						width: 100%;
						padding: 2.5px 0;

						.spec-label {
							display: inline-block;
							width: 40%;
							font-weight: bold;
							text-align: right;
							vertical-align: middle;

							&.two-line {
								font-size: 10px;
							}
						}
						.spec-input {
							margin-left: 5px;
							padding: 1px 3px;
							width: calc(60% - 1px - (2 * 5px));
							background: rgba(120, 46, 34, 0.38);
							border: 1px solid var(--gold-fade);
							max-height: 26px;
							font-size: 16px;
						}
						input.spec-input {
							text-align: right;
							font-weight: bold;
							text-align: center;
						}
						select.spec-input {
							flex-grow: 0;
							flex-shrink: 0;
							text-align: right;
						}
					}
				}

			}
			.character-name input {
				margin: 0;
				width: 100%;
				background: transparent;
				font-family: var(--font-display);
			}
		}

		.navigation-section {
			display: flex;
			justify-content: space-evenly;
			overflow: hidden;

			.tabButton {
				color: var(--gold-fg); // 6A634B;
				background-color: var(--bg);
				line-height: 34px;
				margin-bottom: -9px;
				font-family: var(--font-display);
				outline: 2px outset var(--gold-fg); // 81774e;
				padding: 0 10px;

				&.active {
					background-color: var(--gold-dark);
					color: var(--gold-bright);
					outline: 2px outset var(--gold-fade); // 6e6a59;
				}
			}

		}

		.tab-section {
			margin: 0;
			padding: 5px 5px 0px;

			> div {
				margin: 0;
				padding: 0;
			}

			&.stats-section {

				.top-section {
					margin-bottom: 3px;

					.dramatic-hook {
						display: block;
						height: 14px;
						position: relative;
						z-index: 50;
						padding-left: 20px;

						input[type="checkbox"] {
							display: inline-block;
							height: 10px;
							width: 10px;
							margin: 0;
							opacity: 0.75;
							filter: sepia(1);
							vertical-align: middle;
						}
						> span {
								color: var(--gold-bright);
								font-size: 12px;
								white-space: nowrap;
								overflow: hidden;
								vertical-align: middle;
						}

						input[type="checkbox"]:checked + span {
							font-style: italic;
							color: var(--gold-fade);
						}
					}

				}
				.middle-section {
					.section-label {
						margin-bottom: 5px;
						line-height: 25px;
						max-height: 24px;
					}
					.attribute-column {
						padding: 5px;

						.attribute-box {
							margin: 0;

							td {
								vertical-align: top;
								font-size: 10px;
								font-style: normal;
								padding: 0;

								.attribute-roll {
									display: block;
									width: 135%;
									margin-left: -17.5%;
									position: relative;
									border-radius: 100px;
									cursor: pointer;
									transition: all 0.25s;
									transform-origin: center center;
									color: var(--gold-bright);
									&:hover {
										transform: scale(1.1);
										text-shadow: 0 0 15px var(--red-bright), 0 0 5px var(--red-bright);
										letter-spacing: 0.1em;
										z-index: 20;
									}
								}
							}
							td:first-child { padding-right: 2px }

							.stat-value {
								font-size: 23px;
								height: 45px;
								text-align: center;
								padding: 13px 2px 0 0;
								font-family: var(--font-display);
								color: var(--gold-bright);
								letter-spacing: -2.3px;
								width: 30px;

								option {
									font-size: 14px;
								}
							}
						}
					}
					.move-column {
						flex-grow: 1;
						padding: 5px;

						.move-list {
							columns: 250px;
							padding: 0;

							.move-card {
								padding: 0;
								color: var(--gold-bright);

								.move-info {
									a.move-roll {
										line-height: 20px;
										padding: 0;
										display: inline-block;
										overflow: hidden;

										img {
											vertical-align: text-bottom;
											padding: 0;
											border: 0;
											transform-origin: center;
											transform: scale(1.15);
											filter: sepia(1) hue-rotate(20deg) saturate(2);
										}
									}
								}
							}
						}
					}
					.right-middle-column {
						padding: 5px;
						overflow: visible;

						.wound-entries {
							div {
								justify-content: space-between;

								&.wound-name {
									input[type="text"] {
										color: var(--red-bright);
									}
								}
							}
						}
					}
				}
			}

			&.advancement-section {
				padding: 5px;

				.dramatic-hook {
					height: 20px;
					margin: 5px 0;

					input[type="text"] {
						resize: none;
						background-color: var(--red-fade50);
						color: var(--gold-bright);
						border-radius: 5px;
						display: inline-block;
						padding: 1px 0 0 0;
						text-align: left;
						text-indent: 5px;
						width: 100%;
					}
				}

				.advancement-total {
					color: var(--grey-brightest);
					text-align: center;
				}
				.experience-total {
					color: var(--grey-fg);
					text-align: center;
					font-style: italic;
					font-size: 12px;
					margin-bottom: 10px;
				}
				.advancement-labels {
					width: 100%;
					margin: 0;
				}
				.advancement-boxes {
					width: min-content;
					white-space: nowrap;
					text-align: right;
					margin: 0 10px 0 0;
				}
				.advancement-line, .purchase-line {
					color: var(--gold-fg);
					min-height: 20px;
					line-height: 20px;

					.fas.fa-check-square {
						line-height: 1px;
					}

					&.header {
						margin-top: 20px;
						color: var(--grey-fg);
						margin-left: -80px;
					}

					&.greyed-out {
						color: var(--grey-dim);
					}
				}
				.purchases-column {
					.section-label {
						// margin-bottom: 40px;
					}
					.purchase-line {
						margin: 3px 0;

						.purchase-counter {
							font-family: Infidel;
							font-size: 20px;
							display: inline-block;
							vertical-align: bottom;
							text-align: center;
							width: 15px;
							color: var(--grey-bright);
							text-shadow: 0 0 5px var(--red-bright);
							margin-right: 5px;
						}

						select {
							margin-left: 10px;
							margin-right: 0px;
							color: var(--grey-bright);
							text-shadow: 0 0 5px var(--red-bright);
						}

						.purchase-summary {
							font-weight: bold;
							color: var(--grey-bright);
							text-shadow: 0 0 5px var(--red-bright);
						}
					}
				}
			}
		}
	}
}

&.minimized {
    --minimizedTextColor: var(--gold-dark);
    --minimizedFontWeight: bold;
    --minimizedBGColor: var(--gold-glow);
    --minimizedBorderColor: var(--gold-bright);
}