& {
	font-size: 12px;

	.message-header { }

	.message-content {
		p {
			text-align: justify;
			hyphens: auto;
		}

		strong/* , em */ {
			color: #bcb39a;
		}

		ul {
			li {
				list-style-type: square;
				text-indent: -5px;
				margin-left: 5px;
			}
		}

		.move-name:nth-child(2) {
			background: linear-gradient(90deg, black, #9b201f 35%, #9b201f 65%, black);
			line-height: 27px;
			height: 24px;
			color: black;
			font-weight: bold;
		}
	}
}
