	select,
	input,
	textarea {
		font-family: var(--font-primary);
		color: var(--gold-fg);
	}

	select:focus, select:focus-within {
		box-shadow: none;
	}

	option {
		background: var(--bg);
	}

	.editor-content {
		text-align: justify;
		hyphens: auto;
	}

	.window-header {
		border-color: var(--gold-fg);
		background-color: var(--bg);

	}

	.window-content {
		overflow-y: scroll;

		.sheet-lock-button {
			position: relative;
			height: 20px;
			color: var(--gold-fg);
			top: -5px;
			margin-bottom: -20px;
			left: -3px;
		}

		.two-column {
			> *:last-child {
				margin-right: 0;
			}
			.col66 {
				width: 66%;
			}
			.col33 {
				width: 33%;
			}
		}
	}


