/* ▌██░░ kult4eoverrides v0.3 (2022) ║ MIT License ║ https://github.com/Eunomiac/kult4eoverrides ░░██▐ */@font-face {
  font-family: Infidel;
  src: url("../assets/fonts/infidel.ttf");
}

@font-face {
  font-family: Alverata;
  src: url("../assets/fonts/alverata.ttf");
}

@font-face {
  font-family: 'Caslon Antique';
  src: url("../assets/fonts/caslon-antique.ttf");
}

.vtt.game.system-kult4e {
  --font-primary: Alverata;
  --font-display: Infidel;
  --font-longtext: "Caslon Antique";
}

.vtt.game.system-kult4e .chat-message {
  font-size: 12px;
}

.vtt.game.system-kult4e .chat-message .message-content p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.vtt.game.system-kult4e .chat-message .message-content strong {
  color: #bcb39a;
}

.vtt.game.system-kult4e .chat-message .message-content ul li {
  list-style-type: square;
  text-indent: -5px;
  margin-left: 5px;
}

.vtt.game.system-kult4e .chat-message .message-content .move-name:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(35%, #9b201f), color-stop(65%, #9b201f), to(black));
  background: -o-linear-gradient(left, black, #9b201f 35%, #9b201f 65%, black);
  background: linear-gradient(90deg, black, #9b201f 35%, #9b201f 65%, black);
  line-height: 27px;
  height: 24px;
  color: black;
  font-weight: bold;
}

.vtt.game.system-kult4e .app.window-app.sheet select,
.vtt.game.system-kult4e .app.window-app.sheet input,
.vtt.game.system-kult4e .app.window-app.sheet textarea {
  font-family: var(--font-primary);
  color: #968c6a;
}

.vtt.game.system-kult4e .app.window-app.sheet option {
  background: black;
}

.vtt.game.system-kult4e .app.window-app.sheet .sheet-lock-button {
  position: relative;
  height: 20px;
  color: #968c6a;
  top: -10px;
  margin-bottom: -20px;
  left: -5px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container > * {
  display: inline-block;
  height: 100%;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container *:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .picture {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  margin: 0 10px 0 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-name {
  display: block;
  font-size: 50px;
  height: 100%;
  width: 100%;
  border: 0;
  font-family: var(--font-display);
  background: transparent;
  -webkit-transform: scaleY(1.5);
  -ms-transform: scaleY(1.5);
  transform: scaleY(1.5);
  padding-top: 16px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype {
  display: block;
  margin: -20px 0 0 0;
  padding: 0;
  border: 0;
  height: 40px;
  font-size: 22px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype option {
  font-size: 14px;
  text-align: center;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype option.enlightened {
  color: #777777;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype option.aware-header, .vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype option.enlightened-header {
  background: black;
  color: #8D762A;
  font-weight: bold;
  font-size: 24px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .title .character-archetype option.enlightened-header {
  color: #999999;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 125px;
  flex-basis: 125px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec {
  display: block;
  width: 100%;
  padding: 2.5px 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-label {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-label.two-line {
  font-size: 10px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec .spec-input {
  margin-left: 5px;
  padding: 1px 3px;
  width: calc(60% - 1px - (2 * 5px));
  background: rgba(120, 46, 34, 0.38);
  border: 1px solid #7a7971;
  max-height: 26px;
  font-size: 16px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec input.spec-input {
  text-align: right;
  font-weight: bold;
  text-align: center;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: right;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .gold3 {
  color: #b98600;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .gold2 {
  color: #ab8b36;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .gold1 {
  color: #9b8d68;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .red4 {
  color: #ff0000;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .red3 {
  color: #950a0f;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .red2 {
  color: #9b201f;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .header-container .specs .spec select.spec-input .red1 {
  color: #782e22;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .sheet-header .character-name input {
  margin: 0;
  width: 100%;
  background: transparent;
  font-family: var(--font-display);
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  overflow: hidden;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section .tabButton {
  color: #6A634B;
  background-color: black;
  outline: 1px solid #968c6a;
  line-height: 34px;
  margin-bottom: -9px;
  font-family: var(--font-display);
  outline: 2px outset #81774e;
  padding: 0 10px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .navigation-section .tabButton.active {
  background-color: #968c6a;
  color: #9b201f;
  font-weight: bold;
  outline: 2px outset #6e6a59;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .top-section {
  margin: 0;
  padding: 5px 5px 0px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .top-section .dramatic-hook {
  display: block;
  width: calc(100% + 6px);
  position: relative;
  z-index: 50;
  margin-left: -6px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .top-section .dramatic-hook input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 20px;
  margin: 2px 0 -1px 0;
  vertical-align: bottom;
  position: relative;
  z-index: 100;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .top-section .dramatic-hook input[type="text"] {
  resize: none;
  background-color: rgba(120, 46, 34, 0.38);
  border-radius: 5px;
  border: 1px solid #7a7971;
  display: inline-block;
  width: calc(100% - 10px);
  padding: 2px 0 0 0;
  min-height: 20px;
  height: 20px;
  text-align: left;
  text-indent: 10px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .top-section .dramatic-hook input[type="checkbox"]:checked + input[type="text"] {
  border-color: transparent;
  background-color: transparent;
  font-style: italic;
  color: #92908a;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .section-label {
  margin-bottom: 5px;
  line-height: 25px;
  max-height: 24px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column {
  padding: 5px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box {
  margin: 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box td {
  vertical-align: top;
  font-size: 10px;
  font-style: normal;
  padding: 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box td .attribute-roll {
  display: block;
  width: 135%;
  margin-left: -17.5%;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #fff3b5;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box td .attribute-roll:hover {
  color: #FFFFFF;
  text-shadow: 0 0 5px red, 0 0 5px red, 0 0 5px red, 0 0 5px red, 0 0 5px red;
  letter-spacing: 0.2em;
  z-index: 20;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box td:first-child {
  padding-right: 2px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box .stat-value {
  font-size: 23px;
  height: 45px;
  text-align: center;
  padding: 13px 2px 0 0;
  font-family: var(--font-display);
  color: #fff3b5;
  letter-spacing: -2.3px;
  width: 30px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .attribute-column .attribute-box .stat-value option {
  font-size: 14px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 5px;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list {
  -webkit-columns: 250px;
  -moz-columns: 250px;
  columns: 250px;
  padding: 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card {
  padding: 0;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card .move-info a.move-roll {
  line-height: 20px;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card .move-info a.move-roll img {
  vertical-align: text-bottom;
  padding: 0;
  border: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card .move-info a.item-control {
  margin: 1px;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  color: grey;
  padding: 1px;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  opacity: 0.5;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card .move-info a.item-control.item-show {
  margin: 3px 3px 1px 1px;
  color: white;
  -webkit-filter: none;
  filter: none;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .move-column .move-list .move-card .move-info a.item-control:hover {
  color: white;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .right-middle-column {
  padding: 5px;
  overflow: visible;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .right-middle-column .wound-entries div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor .window-content form.kult-overrides-sheet .middle-section .right-middle-column .wound-entries div.wound-name input[type="text"] {
  color: #FF0000;
}

.vtt.game.system-kult4e .app.window-app.sheet.actor.minimized {
  --minimizedTextColor: #262000;
  --minimizedFontWeight: bold;
  --minimizedBGColor: #FFD900;
  --minimizedBorderColor: #FFFFFF;
}

.vtt.game.system-kult4e .app.window-app.sheet.item.minimized {
  --minimizedTextColor: #00D0FF;
  --minimizedBGColor: #003643;
  --minimizedBorderColor: #00FFFF;
}
