// Golds
$gold: rgb(155, 141, 104); // System
$gold-dark: rgb(141, 118, 42); // System
$gold-grey: rgb(122, 121, 113); // System
$gold-bright: rgb(255, 243, 181);
$gold-glow: rgb(255, 238, 16); // System

// Reds
$red: rgb(155, 32, 31); // System
$red-dark: rgb(109, 22, 22); // System
$red-bright: rgb(255, 32, 32);
$red-grey: rgb(120, 46, 34); // System
$red-grey50: rgba(120, 46, 34, 0.5); // System

// Other
$cyan: rgb(151, 223, 244); // System

// Contrast
$darkest: rgb(0, 0, 0);
$dark: rgb(68, 68, 68);
$grey: rgb(153, 153, 153);
$bright: rgb(170, 170, 170);
$brightest: rgb(255, 255, 255);