		.center-text {
		text-align: center !important;
	}

	.item-trigger {
		font-style: italic;
		color: var(--gold-bright);
	}
	.item-gm-phrase {
		font-weight: bold;
		color: var(--red-bright);
	}
	.item-roll-desc, .item-keyword {
		font-weight: bold;
		color: var(--blue-fg);
	}
	.item-move-name {
		color: var(--blue-fg);
		font-style: italic;
		font-weight: normal !important;

		* {
			font-weight: normal !important;
		}
	}
	.source-name {
		font-size: 12px;
		text-align: right;
		display: block;
		font-variant: small-caps;
		color: var(--gold-bright);
		font-style: italic;
	}

	.item-text {
		text-align: justify;
		hyphens: auto;

		p {
			text-align: justify;
			hyphens: auto;
		}

		ul {
			li {
				list-style-type: square;
				text-indent: -5px;
				margin-left: 5px;
			}
		}
	}
